{% extends 'index.html.twig' %}

{% block title %}
	Films - Liste
{% endblock %}

{% block body %}

	<div class="container py-5">

		<div class="text-center mb-4">
			<a href="/films/create" class="btn btn-lg btn-outline-success">
				<i class="bi bi-plus-circle"></i>
				Ajouter un film
			</a>
		</div>


		<h3 class="mb-3 text-center text-primary">Toute ma collection :</h3>

		<div class="table-responsive shadow-sm rounded">
			<table class="table table-bordered table-striped table-hover align-middle">
				<thead class="table-primary text-center">
					<tr>
						<th>ID</th>
						<th>Titre</th>
						<th>Année</th>
						<th>Synopsis</th>
						<th>Réalisateur</th>
						<th>Genre</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="tableauContenu">
					{% for film in films %}
						<tr>
							<td class="text-center">{{ film.id }}</td>
							<td>{{ film.title }}</td>
							<td class="text-center">{{ film.year }}</td>
							<td class="text-truncate" style="max-width: 250px;">{{ film.synopsis }}</td>
							<td>{{ film.director }}</td>
							<td>{{ film.type }}</td>
							<td class="text-center">
								<div class="d-flex gap-2 justify-content-center">
									<a href="/films/read?id={{ film.id }}" class="btn btn-success btn-sm">
										<i class="bi bi-info-circle"></i>
										Détails
									</a>
									<a href="/films/update?id={{ film.id }}" class="btn btn-primary btn-sm">
										<i class="bi bi-pencil-square"></i>
										Modifier
									</a>
									<a href="/films/delete?id={{ film.id }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce film ?');">
										<i class="bi bi-trash"></i>
										Supprimer
									</a>
									<a href="/films/add?id={{ film.id }}" class="btn btn-warning btn-sm text-black">
										<i class="bi bi-chat-square-text"></i>
										Noter
									</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
