<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Filmoteca</title>
		<link rel="stylesheet" href="/style/styles.css">
	</head>

	<header>
		<nav>
			<ul>
				<li><a href="/">Accueil</a></li>
				<li><a href="/films">Films</a></li>
				<li><a href="#">Auteurs</a></li>
				<li><a href="/contact">A propos</a></li>
			</ul>
		</nav>
	</header>

	<body>
		<main>
			<button id="btnLister">Ajouter des films</button>

			<hr style="margin: 30px 0;">

			<h3>Aperçu de ma collection :</h3>
			<table id="tableauFilms">
				<thead>
					<tr>
						<th>ID</th>
						<th>Titre</th>
						<th>Année de sortie</th>
						<th>Synopsis</th>
						<th>Réalisateur</th>
						<th>Genre</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="tableauContenu">
					{% for film in films %}
						<tr>
							<td>{{ film.id }}</td>
							<td>{{ film.title }}</td>
							<td>{{ film.year }}</td>
							<td>{{ film.synopsis }}</td>
							<td>{{ film.director }}</td>
							<td>{{ film.genre }}</td>
							<td>
								<button class="btnActions">Modifier</button>
								<button class="btnActions">Supprimer</button>
								<button class="btnActions vert">Ajouter note et commentaire</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<button class="btnActions vert">Voir tout</button>
		</main>
	</body>

	<footer>
		<p>Copyright © 2024 Filmoteca. Tous droits réservés.</p>
	</footer>

</html>
